.search-section .search-form {
    position: absolute;
    display: block;
    box-sizing: border-box;
    padding: 0px 25px 25px;
    width: 100%;
}

.search-form .submit {
    text-align: center;
    margin-top: 40px;
}

.search-form label {
    display: block;
    margin: 10px 0px 10px;
    font-size: 15px;
    font-weight: 700;
}

.search-form .input-form {
    padding: 10px;
    width: 90%;
    height: 16px;
    border: 1px solid #b6b6b6;
    transition: 0.2s;
}

.search-form .input-form:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    border: 1px solid #b6b6b6;
    outline: none;
}

.search-form #submit-btn {
    padding: 15px 40px;
    background: #07253F none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}

.search-form #submit-btn:hover{
    border: 2px solid #07253F;
    background: transparent;
    color: #07253F;
}

.input-group {
    position: relative;
}

.input-group .icon-form {
    display: inline-block;
    position: absolute;
    border: 0.25px solid #000;
    width: 20%;
    border-left: none;
    height: 40px;
}

.alert-fill {
    font-size: 12px;
    margin-top: 10px;
    color: red;
}