.nav-bar a {
    color: #07253f;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight:  bold;
}

.web-name a {
    font-size: 28px;
    font-family: 'Headline';
    word-spacing: 4px;
}

.nav-bar{
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
    position: sticky;
    top:0;
    box-shadow: 0 4px 10px -2px rgb(54, 54, 54);
}

.list-items{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.list-items li {
    padding: 16px 20px;
}

.list-items li:last-child {
    padding: 16px 0px 16px 16px
}

.list-items li a {
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.list-items li:hover a{
    color: #2f7af8;
    border-bottom: 3px solid #2f7af8;
}
