.review-form-container{
    padding: 20px 10px;
    position: relative;
    background-color: #f7f7f7;
    width: 98%;
    min-height: 10vh;
    box-shadow: 1px 1px 10px #ccc;
}

.review-form-input {
    display: block;
    resize: none;
    width: 100%;
    border: none;
    background-color: #f7f7f7;
    font-size: 15px;
    margin-bottom: 15px;
}

.review-form-input:focus {
    outline: none;
    border: none;
}

.review-form-star-select{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.review-form #submit-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 12px;
    border: none;
    outline: none;
    background-color: #2f7af8;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.review-form #submit-btn:hover {
    background-color: #F19C4F;
}
