.subcribe-form {
    width: 100%;
}

.subcribe-form input {
    padding: 10px;
    width: 65%;
    border: 1px solid #b6b6b6;
    transition: 0.2s;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.subcribe-form input:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    border: 1px solid #b6b6b6;
    outline: none;
}

.subcribe-form #submit-subcribe-btn {
    width: 12%;
    height: 38px;
    background-color: #2F7AF8;
    color: #fff;
    outline: none;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.2s;
    cursor: pointer;
}

.subcribe-form #submit-subcribe-btn:hover {
    background: #f19c4f;
}